In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\GOWTH\Downloads\data.xlsx - Sheet1.csv")

In [3]:
df

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000.0,6/1/12 0:00,present,senior quality engineer,Bangalore,f,2/19/90 0:00,84.30,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000.0,9/1/13 0:00,present,assistant manager,Indore,m,10/4/89 0:00,85.40,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000.0,6/1/14 0:00,present,systems engineer,Chennai,f,8/3/92 0:00,85.00,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000.0,7/1/11 0:00,present,senior software engineer,Gurgaon,m,12/5/89 0:00,85.60,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000.0,3/1/14 0:00,3/1/15 0:00,get,Manesar,m,2/27/91 0:00,78.00,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3993,train,47916,280000.0,10/1/11 0:00,10/1/12 0:00,software engineer,New Delhi,m,4/15/87 0:00,52.09,...,-1,-1,-1,-1,-1,-0.1082,0.3448,0.2366,0.64980,-0.9194
3994,train,752781,100000.0,7/1/13 0:00,7/1/13 0:00,technical writer,Hyderabad,f,8/27/92 0:00,90.00,...,-1,-1,-1,-1,-1,-0.3027,0.8784,0.9322,0.77980,-0.0943
3995,train,355888,320000.0,7/1/13 0:00,present,associate software engineer,Bangalore,m,7/3/91 0:00,81.86,...,-1,-1,-1,-1,-1,-1.5765,-1.5273,-1.5051,-1.31840,-0.7615
3996,train,947111,200000.0,7/1/14 0:00,1/1/15 0:00,software developer,Asifabadbanglore,f,3/20/92 0:00,78.72,...,438,-1,-1,-1,-1,-0.1590,0.0459,-0.4511,-0.36120,-0.0943
3997,train,324966,400000.0,2/1/13 0:00,present,senior systems engineer,Chennai,f,2/26/91 0:00,70.60,...,-1,-1,-1,-1,-1,-1.1128,-0.2793,-0.6343,1.32553,-0.6035

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3998 non-null   object
 1   ID                     3998 non-null   int64
 2   Salary                 3998 non-null   float64
 3   DOJ                    3998 non-null   object
 4   DOL                    3998 non-null   object
 5   Designation            3998 non-null   object
 6   JobCity                3998 non-null   object
 7   Gender                 3998 non-null   object
 8   DOB                    3998 non-null   object
 9   10percentage           3998 non-null   float64
 10  10board                3998 non-null   object
 11  12graduation           3998 non-null   int64
 12  12percentage           3998 non-null   float64
 13  12board                3998 non-null   object
 14  CollegeID              3998 non-null   int64
 15  CollegeTier            3998 non-null   int64
 16  Degree                 3998 non-null   object
 17  Specialization         3998 non-null   object
 18  collegeGPA             3998 non-null   float64
 19  CollegeCityID          3998 non-null   int64
 20  CollegeCityTier        3998 non-null   int64
 21  CollegeState           3998 non-null   object
 22  GraduationYear         3998 non-null   int64
 23  English                3998 non-null   int64
 24  Logical                3998 non-null   int64
 25  Quant                  3998 non-null   int64
 26  Domain                 3998 non-null   float64
 27  ComputerProgramming    3998 non-null   int64
 28  ElectronicsAndSemicon  3998 non-null   int64
 29  ComputerScience        3998 non-null   int64
 30  MechanicalEngg         3998 non-null   int64
 31  ElectricalEngg         3998 non-null   int64
 32  TelecomEngg            3998 non-null   int64
 33  CivilEngg              3998 non-null   int64
 34  conscientiousness      3998 non-null   float64
 35  agreeableness          3998 non-null   float64
 36  extraversion           3998 non-null   float64
 37  nueroticism            3998 non-null   float64
 38  openess_to_experience  3998 non-null   float64
dtypes: float64(10), int64(17), object(12)
memory usage: 1.2+ MB

In [5]:
df.describe()

,ID,Salary,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
count,3.998000e+03,3.998000e+03,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,...,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000,3998.000000
mean,6.637945e+05,3.076998e+05,77.925443,2008.087544,74.466366,5156.851426,1.925713,71.486171,5156.851426,0.300400,...,90.742371,22.974737,16.478739,31.851176,2.683842,-0.037831,0.146496,0.002763,-0.169033,-0.138110
std,3.632182e+05,2.127375e+05,9.850162,1.653599,10.999933,4802.261482,0.262270,8.167338,4802.261482,0.458489,...,175.273083,98.123311,87.585634,104.852845,36.658505,1.028666,0.941782,0.951471,1.007580,1.008075
min,1.124400e+04,3.500000e+04,43.000000,1995.000000,40.000000,2.000000,1.000000,6.450000,2.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-4.126700,-5.781600,-4.600900,-2.643000,-7.375700
25%,3.342842e+05,1.800000e+05,71.680000,2007.000000,66.000000,494.000000,2.000000,66.407500,494.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.713525,-0.287100,-0.604800,-0.868200,-0.669200
50%,6.396000e+05,3.000000e+05,79.150000,2008.000000,74.400000,3879.000000,2.000000,71.720000,3879.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.046400,0.212400,0.091400,-0.234400,-0.094300
75%,9.904800e+05,3.700000e+05,85.670000,2009.000000,82.600000,8818.000000,2.000000,76.327500,8818.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.702700,0.812800,0.672000,0.526200,0.502400
max,1.298275e+06,4.000000e+06,97.760000,2013.000000,98.700000,18409.000000,2.000000,99.930000,18409.000000,1.000000,...,715.000000,623.000000,676.000000,548.000000,516.000000,1.995300,1.904800,2.535400,3.352500,1.822400

In [6]:
df.describe(include = "object")

,Unnamed: 0,DOJ,DOL,Designation,JobCity,Gender,DOB,10board,12board,Degree,Specialization,CollegeState
count,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998,3998
unique,1,81,67,419,339,2,1872,275,340,4,46,26
top,train,7/1/14 0:00,present,software engineer,Bangalore,m,1/1/91 0:00,cbse,cbse,B.Tech/B.E.,electronics and communication engineering,Uttar Pradesh
freq,3998,199,1875,539,627,3041,11,1395,1400,3700,880,915

In [7]:
df.drop("Unnamed: 0", axis = 1,inplace = True)

In [8]:
df

,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,203097,420000.0,6/1/12 0:00,present,senior quality engineer,Bangalore,f,2/19/90 0:00,84.30,"board ofsecondary education,ap",...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,579905,500000.0,9/1/13 0:00,present,assistant manager,Indore,m,10/4/89 0:00,85.40,cbse,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,810601,325000.0,6/1/14 0:00,present,systems engineer,Chennai,f,8/3/92 0:00,85.00,cbse,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,267447,1100000.0,7/1/11 0:00,present,senior software engineer,Gurgaon,m,12/5/89 0:00,85.60,cbse,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,343523,200000.0,3/1/14 0:00,3/1/15 0:00,get,Manesar,m,2/27/91 0:00,78.00,cbse,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3993,47916,280000.0,10/1/11 0:00,10/1/12 0:00,software engineer,New Delhi,m,4/15/87 0:00,52.09,cbse,...,-1,-1,-1,-1,-1,-0.1082,0.3448,0.2366,0.64980,-0.9194
3994,752781,100000.0,7/1/13 0:00,7/1/13 0:00,technical writer,Hyderabad,f,8/27/92 0:00,90.00,state board,...,-1,-1,-1,-1,-1,-0.3027,0.8784,0.9322,0.77980,-0.0943
3995,355888,320000.0,7/1/13 0:00,present,associate software engineer,Bangalore,m,7/3/91 0:00,81.86,"bse,odisha",...,-1,-1,-1,-1,-1,-1.5765,-1.5273,-1.5051,-1.31840,-0.7615
3996,947111,200000.0,7/1/14 0:00,1/1/15 0:00,software developer,Asifabadbanglore,f,3/20/92 0:00,78.72,state board,...,438,-1,-1,-1,-1,-0.1590,0.0459,-0.4511,-0.36120,-0.0943
3997,324966,400000.0,2/1/13 0:00,present,senior systems engineer,Chennai,f,2/26/91 0:00,70.60,cbse,...,-1,-1,-1,-1,-1,-1.1128,-0.2793,-0.6343,1.32553,-0.6035

In [9]:
df["DOJ"]=pd.to_datetime(df["DOJ"])

C:\Users\GOWTH\AppData\Local\Temp\ipykernel_1892\581862566.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DOJ"]=pd.to_datetime(df["DOJ"])

In [10]:
pd.to_datetime(df["DOJ"])

0      2012-06-01
1      2013-09-01
2      2014-06-01
3      2011-07-01
4      2014-03-01
          ...
3993   2011-10-01
3994   2013-07-01
3995   2013-07-01
3996   2014-07-01
3997   2013-02-01
Name: DOJ, Length: 3998, dtype: datetime64[ns]

In [14]:
df["DOL"]=df["DOL"].replace("present","10/1/24 0:00")

In [ ]:
df

In [15]:
df["DOL"]

0       10/1/24 0:00
1       10/1/24 0:00
2       10/1/24 0:00
3       10/1/24 0:00
4        3/1/15 0:00
            ...
3993    10/1/12 0:00
3994     7/1/13 0:00
3995    10/1/24 0:00
3996     1/1/15 0:00
3997    10/1/24 0:00
Name: DOL, Length: 3998, dtype: object

In [16]:
df["DOL"]=pd.to_datetime(df["DOL"])

C:\Users\GOWTH\AppData\Local\Temp\ipykernel_1892\3080994593.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DOL"]=pd.to_datetime(df["DOL"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3998 non-null   int64
 1   Salary                 3998 non-null   float64
 2   DOJ                    3998 non-null   datetime64[ns]
 3   DOL                    3998 non-null   datetime64[ns]
 4   Designation            3998 non-null   object
 5   JobCity                3998 non-null   object
 6   Gender                 3998 non-null   object
 7   DOB                    3998 non-null   object
 8   10percentage           3998 non-null   float64
 9   10board                3998 non-null   object
 10  12graduation           3998 non-null   int64
 11  12percentage           3998 non-null   float64
 12  12board                3998 non-null   object
 13  CollegeID              3998 non-null   int64
 14  CollegeTier            3998 non-null   int64
 15  Degree                 3998 non-null   object
 16  Specialization         3998 non-null   object
 17  collegeGPA             3998 non-null   float64
 18  CollegeCityID          3998 non-null   int64
 19  CollegeCityTier        3998 non-null   int64
 20  CollegeState           3998 non-null   object
 21  GraduationYear         3998 non-null   int64
 22  English                3998 non-null   int64
 23  Logical                3998 non-null   int64
 24  Quant                  3998 non-null   int64
 25  Domain                 3998 non-null   float64
 26  ComputerProgramming    3998 non-null   int64
 27  ElectronicsAndSemicon  3998 non-null   int64
 28  ComputerScience        3998 non-null   int64
 29  MechanicalEngg         3998 non-null   int64
 30  ElectricalEngg         3998 non-null   int64
 31  TelecomEngg            3998 non-null   int64
 32  CivilEngg              3998 non-null   int64
 33  conscientiousness      3998 non-null   float64
 34  agreeableness          3998 non-null   float64
 35  extraversion           3998 non-null   float64
 36  nueroticism            3998 non-null   float64
 37  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](2), float64(10), int64(17), object(9)
memory usage: 1.2+ MB

In [24]:
df["JobCity"].value_counts().reset_index()

              JobCity  count
0           Bangalore   1088
1               Noida    368
2           Hyderabad    335
3                Pune    290
4             Chennai    272
..                ...    ...
333           Asansol      1
334      Tirunelvelli      1
335         Ernakulam      1
336            Nanded      1
337  Asifabadbanglore      1

[338 rows x 2 columns]

In [19]:
df.columns

Index(['ID', 'Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeID', 'CollegeTier', 'Degree', 'Specialization', 'collegeGPA',
       'CollegeCityID', 'CollegeCityTier', 'CollegeState', 'GraduationYear',
       'English', 'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [22]:
df["JobCity"]=df["JobCity"].replace("-1","Bangalore")

In [28]:
df["Designation"].value_counts()

Designation
software engineer                    539
software developer                   265
system engineer                      205
programmer analyst                   139
systems engineer                     118
                                    ...
cad drafter                            1
noc engineer                           1
human resources intern                 1
senior quality assurance engineer      1
jr. software developer                 1
Name: count, Length: 419, dtype: int64

In [29]:
df["Designation"].unique()

array(['senior quality engineer', 'assistant manager', 'systems engineer',
       'senior software engineer', 'get', 'system engineer',
       'java software engineer', 'mechanical engineer',
       'electrical engineer', 'project engineer', 'senior php developer',
       'senior systems engineer', 'quality assurance engineer',
       'qa analyst', 'network engineer', 'product development engineer',
       'associate software developer', 'data entry operator',
       'software engineer', 'developer', 'electrical project engineer',
       'programmer analyst', 'systems analyst', 'ase',
       'telecommunication engineer', 'application developer',
       'ios developer', 'executive assistant', 'online marketing manager',
       'documentation specialist', 'associate software engineer',
       'management trainee', 'site manager', 'software developer',
       '.net developer', 'production engineer', 'jr. software engineer',
       'trainee software developer', 'ui developer',
       'assistant system engineer', 'android developer',
       'customer service', 'test engineer', 'java developer', 'engineer',
       'recruitment coordinator', 'technical support engineer',
       'data analyst', 'assistant software engineer', 'faculty',
       'entry level management trainee',
       'customer service representative', 'software test engineer',
       'firmware engineer', 'php developer', 'research associate',
       'research analyst', 'quality engineer', 'programmer',
       'technical support executive', 'business analyst', 'web developer',
       'application engineer', 'project coordinator', 'engineer trainee',
       'sap consultant', 'quality analyst', 'marketing coordinator',
       'system administrator', 'senior engineer',
       'business development managerde', 'network administrator',
       'technical support specialist', 'business development executive',
       'junior software engineer', 'asp.net developer',
       'graduate engineer trainee', 'field engineer',
       'assistant professor', 'trainee software engineer',
       'senior software developer',
       'quality assurance automation engineer', 'design engineer',
       'telecom engineer', 'quality control engineer',
       'hardware engineer', 'hr recruiter', 'sales associate',
       'junior engineer', 'associate engineer', 'maintenance engineer',
       'sales engineer', 'human resources associate',
       'mobile application developer',
       'electronic field service engineer', 'process associate',
       'field service engineer', 'it support specialist',
       'software development engineer', 'business process analyst',
       'operation engineer', 'electrical designer', 'marketing assistant',
       'sales executive', 'admin assistant', 'senior java developer',
       'account executive', 'oracle dba', 'rf engineer',
       'embedded software engineer', 'programmer analyst trainee',
       'technical engineer', 'operations executive', 'trainee engineer',
       'recruiter', 'lecturer', '.net web developer',
       'marketing executive', 'operations assistant', 'associate manager',
       'electrical design engineer', 'systems administrator',
       'client services associate', 'it analyst', 'senior developer',
       'cad designer', 'business technology analyst', 'asst. manager',
       'service engineer', 'executive recruiter', 'planning engineer',
       'associate technical operations', 'web designer',
       'software architect', 'software quality assurance tester',
       'seo trainee', 'process engineer',
       'software quality assurance analyst', 'designer',
       'business systems consultant', 'business development manager',
       'junior research fellow', 'technical recruiter',
       'operations analyst', 'quality assurance test engineer',
       'linux systems administrator', 'software trainee',
       'entry level sales and marketing', 'electrical field engineer',
       'windows systems administrator', 'junior software developer',
       'python developer', 'web application developer',
       'assistant systems engineer', 'javascript developer',
       'operation executive', 'performance engineer', 'technical writer',
       'operations engineer and jetty handling', 'lead engineer',
       'portfolio analyst', 'associate system engineer',
       'mechanical design engineer', 'product engineer',
       'network security engineer', 'operations manager',
       'technical lead', 'operations', 'quality assurance tester',
       'automation engineer', 'data scientist', 'quality associate',
       'manual tester', 'sr. engineer', 'embedded engineer',
       'service and sales engineer', 'telecom support engineer',
       'engineer- customer support', 'cloud engineer', 'branch manager',
       'business analyst consultant', 'technology lead',
       'software trainee engineer', 'dcs engineer', 'junior manager',
       'ux designer', 'clerical', 'hr generalist',
       'database administrator', 'senior design engineer', 'seo',
       'assistant engineer', 'marketing analyst', 'it executive',
       'salesforce developer', 'software tester', 'sql dba',
       'junior engineer product support', 'manager',
       'senior business analyst', 'c# developer',
       'implementation engineer', 'executive hr', 'executive engineer',
       'sharepoint developer', 'system analyst',
       'sales management trainee', 'senior project engineer',
       'it recruiter', 'software engineer analyst',
       'desktop support technician', 'continuous improvement engineer',
       'process advisor', 'etl developer', 'sales and service engineer',
       'project manager', 'training specialist', 'product manager',
       'staffing recruiter', 'assistant programmer', 'quality controller',
       'mis executive', 'game developer', 'digital marketing specialist',
       'principal software engineer', 'software devloper',
       'senior mechanical engineer', 'technical operations analyst',
       'service coordinator', 'testing engineer', 'technical assistant',
       'sap abap consultant', 'seo engineer', 'project assistant',
       'talent acquisition specialist', 'sales account manager',
       'software engineer trainee', 'customer service manager',
       'help desk analyst', 'general manager', 'engineering manager',
       'senior network engineer',
       'field based employee relations manager', 'phone banking officer',
       'support engineer', 'associate test engineer',
       'technology analyst', 'network support engineer',
       'it business analyst', 'junior system analyst',
       'senior .net developer', 'secretary', 'research engineer',
       'quality assurance auditor', 'process executive',
       'lecturer & electrical maintenance', 'office coordinator',
       'hr manager', 'html developer', 'sales support',
       'front end web developer', 'administrative support',
       'territory sales manager', 'project administrator',
       'environmental engineer', 'web designer and seo',
       'information security analyst',
       'field business development associate', 'operational executive',
       'administrative coordinator', 'senior risk consultant',
       'desktop support engineer', 'cad drafter', 'noc engineer',
       'industrial engineer', 'it engineer', 'human resources intern',
       'senior quality assurance engineer', 'clerical assistant',
       'software enginner', 'quality assurance',
       'delivery software engineer', 'graphic designer',
       'sales development manager', 'visiting faculty',
       'business intelligence analyst', 'team lead',
       'operational excellence manager', 'sales & service engineer',
       'web intern', 'full stack developer', 'database developer',
       'sr. database engineer', 'graduate apprentice trainee',
       'software engineer associate', 'technical analyst',
       'executive engg', 'it technician', 'business system analyst',
       'process control engineer', 'technical consultant',
       'business office manager', 'quality control inspector',
       'product design engineer', 'manufacturing engineer',
       'seo executive', 'sap analyst', 'software engineere',
       'financial service consultant', 'co faculty', 'software analyst',
       'desktop support analyst', 'graduate engineer',
       'engineering technician', 'it assistant', 'marketing manager',
       'human resource assistant', 'hr assistant', 'product developer',
       'customer support engineer',
       'quality control inspection technician', 'gis/cad engineer',
       'senior web developer', 'sql developer', 'research staff member',
       'sap abap associate consultant', 'associate qa',
       'corporate recruiter', 'project management officer',
       'business systems analyst', 'software programmer',
       'help desk technician', 'sales manager', 'catalog associate',
       'assistant store manager', 'software engg', 'it developer',
       'apprentice', 'business consultant', 'controls engineer',
       'ruby on rails developer', 'risk consultant', 'account manager',
       'professor', 'assistant administrator', 'civil engineer',
       'educator', 'service manager', 'teradata dba',
       'full-time loss prevention associate', 'junior recruiter',
       'associate developer', 'assistant electrical engineer',
       'shift engineer', 'dotnet developer', 'rf/dt engineer',
       'human resources analyst', 'software test engineerte',
       'junior .net developer', 'java trainee', 'maintenance supervisor',
       'r&d engineer', 'front end developer', 'engineer-hws',
       'operations engineer', 'senior research fellow',
       'web designer and joomla administrator',
       'enterprise solutions developer',
       'information technology specialist', 'site engineer',
       'graduate trainee engineer', 'quality assurance analyst',
       'cnc programmer', 'financial analyst', 'system engineer trainee',
       'sap mm consultant', 'assistant system engineer trainee',
       'qa trainee', 'teradata developer', 'hr executive',
       'senior programmer', 'software test engineer (etl)',
       'associate software engg', 'supply chain analyst', 'sales trainer',
       'software executive', 'team leader',
       'assistant system engineer - trainee', 'seo analyst',
       'risk investigator', 'executive administrative assistant',
       'program manager', 'r & d', 'sap functional consultant',
       'website developer/tester', 'software designer',
       'sales coordinator', 'qa engineer', 'aircraft technician',
       'customer care executive', 'senior test engineer',
       'program analyst trainee', 'electrical controls engineer',
       'trainee decision scientist', 'editor', 'bss engineer', 'dba',
       'software eng', 'computer faculty', 'recruitment associate',
       'logistics executive', 'quality consultant',
       'senior sales executive', 'db2 dba', 'test technician',
       'it operations associate', 'software engineering associate',
       'research scientist', 'jr. software developer'], dtype=object)

In [31]:
df["Gender"].unique()

array(['f', 'm'], dtype=object)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3998 non-null   int64
 1   Salary                 3998 non-null   float64
 2   DOJ                    3998 non-null   datetime64[ns]
 3   DOL                    3998 non-null   datetime64[ns]
 4   Designation            3998 non-null   object
 5   JobCity                3998 non-null   object
 6   Gender                 3998 non-null   object
 7   DOB                    3998 non-null   datetime64[ns]
 8   10percentage           3998 non-null   float64
 9   10board                3998 non-null   object
 10  12graduation           3998 non-null   int64
 11  12percentage           3998 non-null   float64
 12  12board                3998 non-null   object
 13  CollegeID              3998 non-null   int64
 14  CollegeTier            3998 non-null   int64
 15  Degree                 3998 non-null   object
 16  Specialization         3998 non-null   object
 17  collegeGPA             3998 non-null   float64
 18  CollegeCityID          3998 non-null   int64
 19  CollegeCityTier        3998 non-null   int64
 20  CollegeState           3998 non-null   object
 21  GraduationYear         3998 non-null   int64
 22  English                3998 non-null   int64
 23  Logical                3998 non-null   int64
 24  Quant                  3998 non-null   int64
 25  Domain                 3998 non-null   float64
 26  ComputerProgramming    3998 non-null   int64
 27  ElectronicsAndSemicon  3998 non-null   int64
 28  ComputerScience        3998 non-null   int64
 29  MechanicalEngg         3998 non-null   int64
 30  ElectricalEngg         3998 non-null   int64
 31  TelecomEngg            3998 non-null   int64
 32  CivilEngg              3998 non-null   int64
 33  conscientiousness      3998 non-null   float64
 34  agreeableness          3998 non-null   float64
 35  extraversion           3998 non-null   float64
 36  nueroticism            3998 non-null   float64
 37  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](3), float64(10), int64(17), object(8)
memory usage: 1.2+ MB

In [34]:
df["DOB"]=pd.to_datetime(df["DOB"])

C:\Users\GOWTH\AppData\Local\Temp\ipykernel_1892\630025592.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["DOB"]=pd.to_datetime(df["DOB"])

In [39]:
df["10percentage"].unique()

array([84.3 , 85.4 , 85.  , 85.6 , 78.  , 89.92, 86.08, 92.  , 90.  ,
       77.  , 88.6 , 81.  , 83.6 , 60.8 , 81.2 , 69.54, 85.8 , 65.  ,
       79.  , 91.2 , 75.67, 92.5 , 70.  , 88.  , 86.8 , 90.88, 76.8 ,
       84.  , 64.  , 77.2 , 87.  , 73.  , 71.  , 91.5 , 52.33, 66.6 ,
       75.  , 91.4 , 59.  , 84.5 , 95.8 , 69.6 , 86.6 , 81.92, 66.5 ,
       80.  , 85.2 , 89.25, 58.4 , 90.8 , 89.88, 63.3 , 72.  , 83.  ,
       85.3 , 60.66, 89.37, 84.4 , 89.  , 86.  , 70.6 , 93.44, 76.  ,
       86.4 , 84.83, 72.3 , 69.  , 73.33, 86.16, 56.  , 79.25, 88.66,
       80.8 , 81.16, 83.5 , 55.6 , 84.6 , 62.  , 68.4 , 51.  , 79.6 ,
       63.4 , 86.53, 76.18, 91.43, 76.17, 82.4 , 58.  , 90.04, 60.4 ,
       74.23, 59.8 , 82.3 , 84.2 , 60.  , 82.8 , 82.6 , 74.  , 89.8 ,
       88.67, 64.66, 77.8 , 89.5 , 64.56, 91.12, 73.08, 78.33, 81.33,
       89.7 , 87.4 , 92.66, 76.87, 91.3 , 77.9 , 76.2 , 77.78, 65.6 ,
       65.8 , 67.75, 91.6 , 78.66, 78.4 , 61.  , 90.4 , 58.6 , 82.2 ,
       82.  , 90.1 , 86.17, 83.89, 76.7 , 88.2 , 80.6 , 91.  , 74.4 ,
       79.28, 84.96, 92.8 , 79.4 , 66.8 , 79.8 , 65.3 , 94.6 , 83.33,
       80.83, 67.23, 86.2 , 55.  , 86.62, 69.13, 89.12, 87.5 , 66.4 ,
       80.33, 75.2 , 50.6 , 81.1 , 60.14, 78.83, 75.8 , 77.66, 64.48,
       67.  , 75.6 , 85.28, 71.5 , 93.6 , 93.33, 78.8 , 82.16, 77.65,
       56.5 , 79.83, 57.  , 89.42, 72.8 , 86.3 , 77.5 , 71.2 , 80.2 ,
       73.6 , 68.  , 74.7 , 69.2 , 65.33, 96.48, 82.5 , 91.8 , 93.4 ,
       68.5 , 73.4 , 72.2 , 71.8 , 66.33, 71.67, 70.2 , 90.27, 67.67,
       53.4 , 76.16, 65.71, 79.5 , 87.2 , 80.4 , 88.4 , 90.6 , 89.2 ,
       81.6 , 86.5 , 77.16, 72.33, 79.89, 75.4 , 72.83, 88.33, 78.88,
       95.2 , 89.33, 75.3 , 69.8 , 52.  , 58.2 , 90.5 , 70.83, 62.13,
       74.5 , 63.  , 73.37, 83.4 , 92.6 , 78.6 , 76.4 , 86.88, 66.  ,
       70.67, 65.1 , 68.14, 92.2 , 93.5 , 82.83, 81.66, 90.15, 44.16,
       94.4 , 64.4 , 85.17, 70.1 , 88.25, 94.8 , 77.4 , 66.66, 81.03,
       44.  , 45.6 , 87.8 , 72.6 , 79.86, 84.67, 48.  , 53.3 , 71.66,
       68.8 , 78.15, 83.43, 86.9 , 84.8 , 75.06, 86.66, 70.9 , 81.12,
       67.5 , 78.2 , 71.06, 71.28, 62.1 , 90.56, 87.6 , 71.3 , 88.8 ,
       86.09, 67.72, 76.6 , 68.6 , 63.43, 70.4 , 67.6 , 73.8 , 55.5 ,
       74.67, 92.16, 83.66, 62.86, 49.  , 87.11, 77.53, 88.5 , 61.9 ,
       79.2 , 83.8 , 79.33, 67.3 , 83.2 , 72.5 , 77.67, 94.2 , 59.33,
       87.63, 89.76, 84.14, 88.17, 59.6 , 64.3 , 75.04, 82.9 , 73.5 ,
       73.67, 77.7 , 87.69, 83.16, 71.32, 61.6 , 61.8 , 85.06, 91.71,
       75.46, 74.8 , 67.4 , 90.3 , 86.15, 64.7 , 69.7 , 82.33, 58.83,
       75.36, 76.5 , 66.67, 67.2 , 80.88, 88.88, 71.4 , 65.2 , 96.  ,
       61.2 , 81.4 , 68.66, 65.56, 86.7 , 63.2 , 62.2 , 68.2 , 77.85,
       83.3 , 56.78, 83.04, 71.1 , 76.53, 74.83, 59.3 , 73.2 , 86.33,
       64.83, 72.1 , 61.1 , 86.83, 70.8 , 94.  , 80.3 , 64.6 , 84.1 ,
       84.93, 92.83, 89.6 , 80.5 , 83.82, 77.57, 51.2 , 66.46, 82.67,
       61.4 , 69.4 , 90.24, 75.75, 90.83, 89.1 , 87.33, 83.1 , 88.34,
       91.67, 87.3 , 48.8 , 75.38, 55.52, 71.05, 77.63, 92.47, 93.  ,
       68.33, 79.16, 85.33, 80.42, 78.25, 95.52, 87.86, 89.4 , 94.7 ,
       97.12, 93.94, 59.57, 80.53, 81.9 , 63.6 , 66.16, 62.5 , 69.5 ,
       80.93, 82.7 , 79.29, 81.5 , 62.34, 83.68, 70.66, 60.1 , 77.38,
       68.83, 94.43, 85.53, 88.09, 74.2 , 85.73, 72.4 , 67.7 , 79.78,
       81.3 , 79.37, 85.5 , 87.83, 70.33, 80.64, 58.7 , 60.2 , 77.81,
       85.67, 89.9 , 79.75, 75.73, 87.68, 60.5 , 81.38, 75.52, 48.5 ,
       88.3 , 82.1 , 85.18, 81.8 , 90.46, 70.5 , 79.52, 89.29, 61.75,
       78.67, 71.6 , 80.13, 81.67, 95.  , 81.14, 72.16, 87.04, 88.64,
       82.56, 90.01, 63.66, 65.17, 91.84, 92.1 , 43.  , 65.23, 92.48,
       82.88, 73.07, 58.56, 85.83, 67.34, 85.75, 80.7 , 79.23, 70.26,
       52.7 , 75.86, 90.16, 90.2 , 78.5 , 58.9 , 80.32, 67.16, 73.06,
       92.93, 85.76, 87.52, 88.36, 81.73, 60.7 , 87.7 , 79.85, 68.9 ,
       73.83, 64.8 , 77.84, 74.14, 64.28, 92.4 , 73.94, 63.33, 70.06,
       88.7 , 89.3 , 83.83, 91.33, 80.07, 72.17, 63.5 , 69.17, 67.42,
       84.16, 76.64, 78.13, 61.69, 81.7 , 82.46, 64.57, 78.1 , 66.3 ,
       59.71, 80.67, 77.88, 88.53, 93.38, 52.93, 78.17, 72.36, 84.75,
       86.67, 77.6 , 74.3 , 62.4 , 65.16, 59.2 , 69.85, 79.68, 65.4 ,
       94.72, 71.86, 81.25, 87.62, 54.  , 85.92, 74.33, 82.28, 75.1 ,
       69.73, 92.12, 70.3 , 76.33, 80.1 , 76.67, 77.83, 57.67, 83.14,
       50.  , 91.21, 81.83, 78.16, 80.14, 93.3 , 61.63, 73.73, 80.46,
       76.48, 82.25, 56.16, 57.88, 87.07, 67.1 , 87.73, 77.12, 64.53,
       86.46, 82.62, 53.06, 74.62, 76.66, 45.33, 69.69, 53.  , 75.33,
       74.28, 74.6 , 74.88, 74.53, 46.24, 80.15, 86.13, 85.72, 51.36,
       78.53, 53.8 , 86.1 , 84.43, 76.36, 77.86, 88.83, 88.18, 79.14,
       54.5 , 84.33, 78.3 , 77.44, 87.31, 58.16, 61.3 , 77.33, 75.12,
       72.12, 65.26, 83.56, 50.5 , 82.27, 67.36, 87.16, 75.83, 78.44,
       91.9 , 68.3 , 92.64, 58.17, 83.46, 88.04, 70.58, 71.17, 84.13,
       64.62, 66.15, 67.8 , 57.78, 56.2 , 61.5 , 94.1 , 74.16, 78.93,
       70.56, 85.16, 82.26, 71.13, 65.66, 71.71, 86.37, 88.57, 59.05,
       79.66, 89.39, 95.54, 55.3 , 70.14, 87.23, 85.38, 86.92, 95.04,
       95.6 , 60.83, 71.33, 94.16, 78.57, 80.16, 70.25, 82.13, 88.76,
       51.6 , 70.76, 57.5 , 68.67, 74.18, 68.25, 71.04, 64.43, 82.24,
       90.06, 67.12, 75.85, 87.81, 76.93, 65.5 , 92.3 , 50.66, 61.83,
       63.16, 64.2 , 53.6 , 83.69, 80.04, 78.86, 70.61, 62.8 , 67.06,
       65.85, 94.24, 63.8 , 75.77, 94.5 , 71.83, 91.1 , 91.52, 90.08,
       93.16, 86.34, 88.1 , 97.  , 62.93, 76.96, 85.46, 78.08, 66.7 ,
       95.86, 92.09, 81.46, 81.86, 61.73, 77.22, 46.8 , 79.3 , 72.75,
       93.8 , 93.67, 75.16, 72.45, 85.62, 86.85, 93.28, 58.33, 64.33,
       75.62, 54.8 , 58.5 , 91.68, 69.3 , 62.6 , 65.41, 91.62, 88.16,
       92.32, 69.83, 83.67, 69.92, 52.5 , 56.4 , 54.6 , 78.61, 69.53,
       75.71, 71.84, 70.16, 69.66, 95.4 , 84.62, 91.53, 85.66, 61.57,
       80.63, 69.33, 62.3 , 87.87, 70.75, 87.58, 58.8 , 62.88, 73.66,
       97.76, 88.44, 54.83, 67.25, 90.76, 82.75, 75.66, 91.04, 90.58,
       91.86, 73.1 , 73.3 , 69.1 , 51.83, 62.26, 65.67, 68.65, 51.42,
       78.28, 80.58, 55.33, 91.17, 74.9 , 93.43, 90.81, 89.89, 62.67,
       90.26, 62.15, 70.08, 87.88, 72.67, 93.2 , 60.46, 71.07, 46.  ,
       54.4 , 86.12, 72.15, 71.85, 49.9 , 83.75, 71.73, 90.33, 86.14,
       66.2 , 88.75, 67.33, 57.14, 67.76, 82.66, 77.92, 79.38, 67.17,
       89.17, 79.67, 96.8 , 71.37, 82.87, 89.44, 71.76, 57.7 , 89.23,
       79.06, 83.25, 61.86, 89.56, 82.14, 70.27, 59.7 , 93.07, 79.9 ,
       64.5 , 66.85, 69.16, 52.09, 78.72])

In [41]:
df.columns

Index(['ID', 'Salary', 'DOJ', 'DOL', 'Designation', 'JobCity', 'Gender', 'DOB',
       '10percentage', '10board', '12graduation', '12percentage', '12board',
       'CollegeID', 'CollegeTier', 'Degree', 'Specialization', 'collegeGPA',
       'CollegeCityID', 'CollegeCityTier', 'CollegeState', 'GraduationYear',
       'English', 'Logical', 'Quant', 'Domain', 'ComputerProgramming',
       'ElectronicsAndSemicon', 'ComputerScience', 'MechanicalEngg',
       'ElectricalEngg', 'TelecomEngg', 'CivilEngg', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism',
       'openess_to_experience'],
      dtype='object')

In [45]:
df["10board"].value_counts()

10board
cbse                          1395
state board                   1164
0                              350
icse                           281
ssc                            122
                              ...
hse,orissa                       1
national public school           1
nagpur board                     1
jharkhand academic council       1
bse,odisha                       1
Name: count, Length: 275, dtype: int64

In [51]:
df["10board"].unique()

array(['board ofsecondary education,ap', 'cbse', 'state board',
       'mp board bhopal', 'icse',
       'karnataka secondary school of examination', 'up',
       'karnataka state education examination board', 'ssc',
       'kerala state technical education', '0', 'bseb',
       'state board of secondary education, andhra pradesh',
       'matriculation', 'gujarat state board', 'karnataka state board',
       'wbbse', 'maharashtra state board', 'icse board', 'up board',
       'board of secondary education(bse) orissa',
       'little jacky matric higher secondary school',
       'uttar pradesh board', 'bsc,orissa', 'mp board', 'upboard',
       'matriculation board', 'j & k bord', 'rbse',
       'central board of secondary education', 'pseb', 'jkbose',
       'haryana board of school education,(hbse)', 'metric', 'ms board',
       'kseeb', 'stateboard', 'maticulation',
       'karnataka secondory education board', 'mumbai board', 'sslc',
       'kseb', 'board secondary  education', 'matric board',
       'board of secondary education',
       'west bengal board of secondary education',
       'jharkhand secondary examination board,ranchi', 'u p board',
       'bseb,patna', 'hsc', 'bse', 'sss pune',
       'karnataka education board (keeb)', 'kerala',
       'state board of secondary education( ssc)', 'gsheb',
       'up(allahabad)', 'nagpur', 'don bosco maatriculation school',
       'karnataka state secondary education board', 'maharashtra',
       'karnataka secondary education board',
       'himachal pradesh board of school education',
       'certificate of middle years program of ib',
       'karnataka board of secondary education',
       'board of secondary education rajasthan', 'uttarakhand board',
       'ua', 'board of secendary education orissa',
       'karantaka secondary education and examination borad', 'hbsc',
       'kseeb(karnataka secondary education examination board)',
       'cbse[gulf zone]', 'hbse', 'state(karnataka board)',
       'jharkhand accademic council',
       'jharkhand secondary examination board (ranchi)',
       'karnataka secondary education examination board', 'delhi board',
       'mirza ahmed ali baig', 'jseb', 'bse, odisha', 'bihar board',
       'maharashtra state(latur board)', 'rajasthan board', 'mpboard',
       'upbhsie', 'secondary board of rajasthan',
       'tamilnadu matriculation board', 'jharkhand secondary board',
       'board of secondary education,andhara pradesh', 'up baord',
       'state', 'board of intermediate education',
       'state board of secondary education,andhra pradesh',
       'up board , allahabad',
       'stjosephs girls higher sec school,dindigul', 'maharashtra board',
       'education board of kerala', 'board of ssc',
       'maharashtra state board pune',
       'board of school education harayana',
       'secondary school cerfificate', 'maharashtra sate board', 'ksseb',
       'bihar examination board, patna', 'latur',
       'board of secondary education, rajasthan', 'state borad hp',
       'cluny', 'bsepatna', 'up borad', 'ssc board of andrapradesh',
       'matric', 'bse,orissa', 'ssc-andhra pradesh', 'mp',
       'karnataka education board', 'mhsbse',
       'karnataka sslc board bangalore', 'karnataka', 'u p',
       'secondary school of education', 'state board of karnataka',
       'karnataka secondary board', 'andhra pradesh board ssc',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'hse,orissa', 'national public school', 'nagpur board',
       'jharkhand academic council', 'bsemp',
       'board of secondary education, andhra pradesh',
       'board of secondary education orissa',
       'board of secondary education,rajasthan(rbse)',
       'board of secondary education,ap',
       'board of secondary education,andhra pradesh',
       'jawahar navodaya vidyalaya', 'aisse',
       'karnataka board of higher education', 'bihar',
       'kerala state board', 'cicse', 'tn state board',
       'kolhapur divisional board, maharashtra',
       'bharathi matriculation school', 'uttaranchal state board',
       'wbbsce', 'mp state board', 'seba(assam)', 'anglo indian', 'gseb',
       'uttar pradesh', 'ghseb', 'board of school education uttarakhand',
       'msbshse,pune', 'tamilnadu state board', 'kerala university',
       'uttaranchal shiksha avam pariksha parishad',
       'bse(board of secondary education)',
       'bright way college, (up board)',
       'school secondary education, andhra pradesh',
       'secondary state certificate',
       'maharashtra state board of secondary and higher secondary education,pune',
       'andhra pradesh state board', 'stmary higher secondary', 'cgbse',
       'secondary school certificate', 'rajasthan board ajmer', 'mpbse',
       'pune board', 'cbse ', 'board of secondary education,orissa',
       'maharashtra state board,pune', 'up bord',
       'kiran english medium high school', 'state board (jac, ranchi)',
       'gujarat board', 'state board ', 'sarada high scchool',
       'kalaimagal matriculation higher secondary school',
       'karnataka board', 'maharastra board', 'sslc board',
       'ssc maharashtra board', 'tamil nadu state', 'uttrakhand board',
       'bihar secondary education board,patna',
       'haryana board of school education',
       'sri kannika parameswari highier secondary school, udumalpet',
       'ksseb(karnataka state board)', 'nashik board',
       'jharkhand secondary education board', 'himachal pradesh board',
       'maharashtra satate board',
       'maharashtra state board mumbai divisional board',
       'dav public school,hehal',
       'state board of secondary education, ap',
       'rajasthan board of secondary education', 'hsce',
       'karnataka secondary education',
       'board of secondary education,odisha', 'maharashtra nasik board',
       'west bengal board of secondary examination (wbbse)',
       'holy cross matriculation hr sec school', 'cbsc', 'apssc',
       'bseb patna', 'kolhapur', 'bseb, patna', 'up board allahabad',
       'biharboard', 'nagpur board,nagpur', 'pune', 'gyan bharati school',
       'rbse,ajmer', 'board of secondaray education',
       'secondary school education', 'state bord', 'jbse,jharkhand',
       'hse', 'madhya pradesh board', 'bihar school examination board',
       'west bengal board of secondary eucation', 'state boardmp board ',
       'icse board , new delhi',
       'board of secondary education (bse) orissa',
       'maharashtra state board for ssc',
       'board of secondary school education', 'latur board',
       "stmary's convent inter college", 'nagpur divisional board',
       'ap state board', 'cgbse raipur', 'uttranchal board', 'ksbe',
       'central board of secondary education, new delhi',
       'bihar school examination board patna', 'cbse board',
       'sslc,karnataka', 'mp-bse', 'up bourd', 'dav public school sec 14',
       'board of school education haryana',
       'council for indian school certificate examination',
       'aurangabad board', 'j&k state board of school education',
       'maharashtra state board of secondary and higher secondary education',
       'maharashtra state boar of secondary and higher secondary education',
       'ssc regular', 'karnataka state examination board', 'nasik',
       'west bengal  board of secondary education', 'up board,allahabad',
       'bseb ,patna',
       'state board - west bengal board of secondary education : wbbse',
       'maharashtra state board of secondary & higher secondary education',
       'delhi public school', 'karnataka secondary eduction',
       'secondary education board of rajasthan',
       'maharashtra board, pune', 'rbse (state board)', 'apsche',
       'board of  secondary education',
       'board of high school and intermediate education uttarpradesh',
       'kea', 'board of secondary education - andhra pradesh',
       'ap state board for secondary education', 'seba',
       'punjab school education board, mohali',
       'jharkhand acedemic council', 'hse,board',
       'board of ssc education andhra pradesh', 'up-board', 'bse,odisha'],
      dtype=object)

In [50]:
df[df["10board"].str.contains("cbse")]["10board"].unique()

array(['cbse', 'cbse[gulf zone]', 'cbse ', 'cbse board'], dtype=object)

In [53]:
df[df["10board"].str.contains("central")]["10board"].unique()

array(['central board of secondary education',
       'central board of secondary education, new delhi'], dtype=object)

In [54]:
df[df["10board"].str.contains("delhi")]["10board"].unique()

array(['delhi board', 'icse board , new delhi',
       'central board of secondary education, new delhi',
       'delhi public school'], dtype=object)

In [55]:
df["10board"].unique()

array(['board ofsecondary education,ap', 'cbse', 'state board',
       'mp board bhopal', 'icse',
       'karnataka secondary school of examination', 'up',
       'karnataka state education examination board', 'ssc',
       'kerala state technical education', '0', 'bseb',
       'state board of secondary education, andhra pradesh',
       'matriculation', 'gujarat state board', 'karnataka state board',
       'wbbse', 'maharashtra state board', 'icse board', 'up board',
       'board of secondary education(bse) orissa',
       'little jacky matric higher secondary school',
       'uttar pradesh board', 'bsc,orissa', 'mp board', 'upboard',
       'matriculation board', 'j & k bord', 'rbse',
       'central board of secondary education', 'pseb', 'jkbose',
       'haryana board of school education,(hbse)', 'metric', 'ms board',
       'kseeb', 'stateboard', 'maticulation',
       'karnataka secondory education board', 'mumbai board', 'sslc',
       'kseb', 'board secondary  education', 'matric board',
       'board of secondary education',
       'west bengal board of secondary education',
       'jharkhand secondary examination board,ranchi', 'u p board',
       'bseb,patna', 'hsc', 'bse', 'sss pune',
       'karnataka education board (keeb)', 'kerala',
       'state board of secondary education( ssc)', 'gsheb',
       'up(allahabad)', 'nagpur', 'don bosco maatriculation school',
       'karnataka state secondary education board', 'maharashtra',
       'karnataka secondary education board',
       'himachal pradesh board of school education',
       'certificate of middle years program of ib',
       'karnataka board of secondary education',
       'board of secondary education rajasthan', 'uttarakhand board',
       'ua', 'board of secendary education orissa',
       'karantaka secondary education and examination borad', 'hbsc',
       'kseeb(karnataka secondary education examination board)',
       'cbse[gulf zone]', 'hbse', 'state(karnataka board)',
       'jharkhand accademic council',
       'jharkhand secondary examination board (ranchi)',
       'karnataka secondary education examination board', 'delhi board',
       'mirza ahmed ali baig', 'jseb', 'bse, odisha', 'bihar board',
       'maharashtra state(latur board)', 'rajasthan board', 'mpboard',
       'upbhsie', 'secondary board of rajasthan',
       'tamilnadu matriculation board', 'jharkhand secondary board',
       'board of secondary education,andhara pradesh', 'up baord',
       'state', 'board of intermediate education',
       'state board of secondary education,andhra pradesh',
       'up board , allahabad',
       'stjosephs girls higher sec school,dindigul', 'maharashtra board',
       'education board of kerala', 'board of ssc',
       'maharashtra state board pune',
       'board of school education harayana',
       'secondary school cerfificate', 'maharashtra sate board', 'ksseb',
       'bihar examination board, patna', 'latur',
       'board of secondary education, rajasthan', 'state borad hp',
       'cluny', 'bsepatna', 'up borad', 'ssc board of andrapradesh',
       'matric', 'bse,orissa', 'ssc-andhra pradesh', 'mp',
       'karnataka education board', 'mhsbse',
       'karnataka sslc board bangalore', 'karnataka', 'u p',
       'secondary school of education', 'state board of karnataka',
       'karnataka secondary board', 'andhra pradesh board ssc',
       'stjoseph of cluny matrhrsecschool,neyveli,cuddalore district',
       'hse,orissa', 'national public school', 'nagpur board',
       'jharkhand academic council', 'bsemp',
       'board of secondary education, andhra pradesh',
       'board of secondary education orissa',
       'board of secondary education,rajasthan(rbse)',
       'board of secondary education,ap',
       'board of secondary education,andhra pradesh',
       'jawahar navodaya vidyalaya', 'aisse',
       'karnataka board of higher education', 'bihar',
       'kerala state board', 'cicse', 'tn state board',
       'kolhapur divisional board, maharashtra',
       'bharathi matriculation school', 'uttaranchal state board',
       'wbbsce', 'mp state board', 'seba(assam)', 'anglo indian', 'gseb',
       'uttar pradesh', 'ghseb', 'board of school education uttarakhand',
       'msbshse,pune', 'tamilnadu state board', 'kerala university',
       'uttaranchal shiksha avam pariksha parishad',
       'bse(board of secondary education)',
       'bright way college, (up board)',
       'school secondary education, andhra pradesh',
       'secondary state certificate',
       'maharashtra state board of secondary and higher secondary education,pune',
       'andhra pradesh state board', 'stmary higher secondary', 'cgbse',
       'secondary school certificate', 'rajasthan board ajmer', 'mpbse',
       'pune board', 'cbse ', 'board of secondary education,orissa',
       'maharashtra state board,pune', 'up bord',
       'kiran english medium high school', 'state board (jac, ranchi)',
       'gujarat board', 'state board ', 'sarada high scchool',
       'kalaimagal matriculation higher secondary school',
       'karnataka board', 'maharastra board', 'sslc board',
       'ssc maharashtra board', 'tamil nadu state', 'uttrakhand board',
       'bihar secondary education board,patna',
       'haryana board of school education',
       'sri kannika parameswari highier secondary school, udumalpet',
       'ksseb(karnataka state board)', 'nashik board',
       'jharkhand secondary education board', 'himachal pradesh board',
       'maharashtra satate board',
       'maharashtra state board mumbai divisional board',
       'dav public school,hehal',
       'state board of secondary education, ap',
       'rajasthan board of secondary education', 'hsce',
       'karnataka secondary education',
       'board of secondary education,odisha', 'maharashtra nasik board',
       'west bengal board of secondary examination (wbbse)',
       'holy cross matriculation hr sec school', 'cbsc', 'apssc',
       'bseb patna', 'kolhapur', 'bseb, patna', 'up board allahabad',
       'biharboard', 'nagpur board,nagpur', 'pune', 'gyan bharati school',
       'rbse,ajmer', 'board of secondaray education',
       'secondary school education', 'state bord', 'jbse,jharkhand',
       'hse', 'madhya pradesh board', 'bihar school examination board',
       'west bengal board of secondary eucation', 'state boardmp board ',
       'icse board , new delhi',
       'board of secondary education (bse) orissa',
       'maharashtra state board for ssc',
       'board of secondary school education', 'latur board',
       "stmary's convent inter college", 'nagpur divisional board',
       'ap state board', 'cgbse raipur', 'uttranchal board', 'ksbe',
       'central board of secondary education, new delhi',
       'bihar school examination board patna', 'cbse board',
       'sslc,karnataka', 'mp-bse', 'up bourd', 'dav public school sec 14',
       'board of school education haryana',
       'council for indian school certificate examination',
       'aurangabad board', 'j&k state board of school education',
       'maharashtra state board of secondary and higher secondary education',
       'maharashtra state boar of secondary and higher secondary education',
       'ssc regular', 'karnataka state examination board', 'nasik',
       'west bengal  board of secondary education', 'up board,allahabad',
       'bseb ,patna',
       'state board - west bengal board of secondary education : wbbse',
       'maharashtra state board of secondary & higher secondary education',
       'delhi public school', 'karnataka secondary eduction',
       'secondary education board of rajasthan',
       'maharashtra board, pune', 'rbse (state board)', 'apsche',
       'board of  secondary education',
       'board of high school and intermediate education uttarpradesh',
       'kea', 'board of secondary education - andhra pradesh',
       'ap state board for secondary education', 'seba',
       'punjab school education board, mohali',
       'jharkhand acedemic council', 'hse,board',
       'board of ssc education andhra pradesh', 'up-board', 'bse,odisha'],
      dtype=object)

In [ ]:
def board(x):
    if (x=='cbse')|(x=='cbse[gulf zone]')|(x=='cbse ')|(x=='cbse board')|(x=='central board of secondary education')|(x=='central board of secondary education, new delhi')